header {
	background:transparent url(img/2005_0308_urkel.jpg) no-repeat;
	padding:89px 350px;
}

header a {
	color:#fff;
	display:inline-block;
	-webkit-transition:-webkit-transform 0.25s, color 0.25s;
	text-decoration:none;
}

header a:hover {
	color:#578C58;
	-webkit-transform:rotate(4deg);
	text-decoration:none;
}

header h2 {
	font-size:22px;
	color:#C72828;
}

header h1, header h2 {
	margin:9px;
}

input.phone {
	
}

input.phone.span1 {
	width:30px;
}

input.phone.span2 {
	width:40px;
}

.form-inline {
	display:inline-block;
	margin-bottom:0px;
}

body {
	background:transparent url(img/urkel.jpg) no-repeat;
	background-size:1681px 925px;
	background-attachment:fixed;
}

body {
	font-color:#fff;
}

section {
	color:#C72828;
	background:#fff;
	opacity:0.7;
}